<h3 style="font-weight: normal">Pro-Tek consulting company offers a comprehensive range of software products and web services to help clients successfully implement software, from initial need analysis and solution design to ongoing support and software services.</h3>
<h3 style="font-weight: normal;">Our services address product engineering and software development needs from small start-ups to large enterprises. We help our clients meet business objectives through IT solutions and thereby providing the expertise and tools necessary to maximize productivity and create competitive advantage.
</h3>
<p>LIST OF OUR SERVICES
	<ul>
		<li>UI STRATEGY MANAGEMENT</li>
		<li>MOBILITY</li>
		<li>WEB2.0</li>
		<li>CLOUD COMPUTING</li>
		<li>DATA ANALYTICS</li>
		<li>MIDDLE WARE</li>
	</ul>
</p>
