.container-fluid
{
  padding: 0px 0px 0px 0px;
}
#logo
{
  width:223px;
}
body
{
  line-height: 0.428571;
}
.page-header
{
	margin: 0px 0px 0px 0px;
	height: 191px;
	padding-left: 138px;
	padding-top: 37px;
	background-image: url("../Image/header-bg-wraper.jpg");
}
.page-header img
{
	display: inline-block;
}
#phone
{
	float:right;
	margin-right:168px;
	font-size:24px;
	color:#ffff00;
}
 #mainmenu
{
	display: block;
	margin-top:18px;
	margin-left:0px;
}
#mainmenu>li.active>a, #mainmenu>li>a:focus, #mainmenu>li>a:hover 
{
  background-image: url("../Image/nav-left.png"),url("../Image/nav-right.png");
  background-position: right,left;
  border-radius:10px 10px 10px 10px;
  color:#FBF6D9;
  text-align: center;
}
#mainmenu>li>a
{
	color:#FBF6D9;
	margin-left:133px;
  text-align:center;
  font-size:124%;
  font-stretch: extra-expanded;
}
#mainmenu>li
{
	padding-top:2.4px;
}
.body
{	
  height:950px;
	background-image: url("../Image/wraper-bg.jpg");
	margin-top:-1px;
  background-repeat: no-repeat;
/*
  background-size:102%;
    width:100%;
    height: 100%;
*/
  line-height: 1.5;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%; 
    background-size: 100% 100%;
    
    
}
.menuList
{
  padding-top:87px;
  padding-left:150px;
  padding-right: 20px;
  background-color:#a4a55e;
/*  height:1377px;*/
/*    height: 1807px;*/
    min-height: 1377px;
    overflow: hidden;
  margin-top:-1px;
     -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%; 
    background-size: 100% 100%;
    
}
#left
{
  width: 519px;
  display: inline-block;
  height: 145px;
  margin-top:611px;
  margin-left: 288px;
  color: white;
  font-size: 30px;
  font-family: Bernard MT Condensed;
  font-stretch: ultra-expanded;
}
#right
{
	width:735px;
	float:right;
	display: inline-block;
	border:1px solid red;
	height: 615px;
	padding-top: 17px;
	padding-left:0px;
  margin-top:20px;
  font-size: 18px;
}
#top
{
	height:296px;
	width:698px;
	border-radius: 7px 7px 7px 7px;
	border:1px solid #E9AB17;
	background-image: url("../Image/opacity-bg.png");
	padding-left: 10px;
	color:#E9AB17; 
  margin-bottom: 30px;
}
#bottom
{
	height:414px;
	width:557px;
	border-radius: 7px 7px 7px 7px;
	background-image:url("../Image/opacity-content.png");
	margin-top: 0px;
	display:block;
  padding-top:22px;
}
.close
{
  margin-top:1px;
  margin-right: 5px;
  opacity:6.0;
}
#menu , #test
{
	background-image: url("../Image/tab-narmal.png");
	height:40px;
	width:148px;
	margin-top:24px;
	margin-left: 10px;
	display: inline-block;
	text-align: center;
	padding-top:12px;
	font-family:Bernard MT Condensed;
	color: white;
}
#menu:hover,#menu:focus,#test:hover,#test:focus
{
	background-image: url("../Image/tab-hover.png");
}
#testa
{
	margin-top:0px;
	margin-left: 30px;
	margin-right:50px;
	color: black;
}
#testb li
{
	list-style-type: none;
	margin-top: 10px;
}
#testb span
{
	margin-left: 10px;
}
#testb
{
	margin-left: 0px;
	font-weight: bold;
	display: inline-block;
	float: left;
}
#testimg
{	  
  margin-top: 5px;
  width: 198px;
  display: inline-block;
  float: right;
  margin-right:13px;
}
#about
{
	height:590px;
	width:700px;
	border-radius: 7px 7px 7px 7px;
	background-image:url("../Image/opacity-content.png");
	margin-top: 0px;
	padding-top:43px;
  padding-right: 20px;
  padding-left:15px;
    font-size: 17px;
}
#about p
{
	margin-left: 30px;
}
#about ul
{
	margin-left: 0px;
	list-style-type: none;
	float: left;
	display: inline-block;
}
#about li
{
	margin-top: 10px;
}
#aboutimg
{
	display: inline-block;
	float: right;
	width:264px;
	margin-right:79px;
}
.btn-group-sm>.btn, .btn-sm
{
  line-height:0;
  font-size: 12px;
}
.btn-primary
{
  margin-top:50px;
  height:40px;
  margin-left: 71px;
  background-color:saddlebrown;
  border-color: none;
}
.btn-primary.active, .btn-primary:focus, .btn-primary:hover
{
  background-color:saddlebrown;
  border-color: none;
}
.item
{
  display: inline-block;
  float: left;
  height:420px;
	width:382px;
	margin-left: 30px;
	align-items: center;
}
.modal-content
{
  height:625px;
  margin-top:50px;
}
.itemDetails
{
  border: 4px double black;
  height: 482px;
  width: 422px;
  float: right;
  margin-right: 76px;
  margin-top: 56px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 20px;
}
.modalimg
{
    margin-top:89px;
    margin-left:px;
    height: 420px;
    width: 382px;
}
.itemimg
{
  width: 254px;
  height: 265px; 
}
#footerline
{
	height:4px;
	background-image: url("../Image/uti-line.png"),linear-gradient(to left,#E9AB17 5%,red 10%,#E9AB17 45%);
	background-image: cover;
	background-repeat: no-repeat;
}
#footer
{
	height: 80px;
	background-image: url("../Image/footer-bg.jpg");
	color:#E9AB17;
	padding-top:20px;
	text-align: center;
}
#footer a
{
	color:#E9AB17; 
}
#footer img
{
	margin-left: 10px;
	margin-right: 10px;
}
#formcontainer
{
  width: 75%;
  margin: 100px 0px 0px 123px;
  border: 1px solid black;
  height: 647px;
}
.uib-tab a
{
  font-weight: bold;
  color:black;
  font-size: 20px;
}
.form
{
  margin-left: 337px;
  margin-top: 100px;
  font-size: 27px;
}
.form button
{
  height: 35px;
  width: 119px;
  margin-left:5px;
  background-color: silver;
  opacity:6;
}
.form button[disabled]
{
  opacity: 0.5;
  cursor: not-allowed;
}
#simple-dropdown
{
  width: 290px;
  height: 42px;
  border: 1px solid black;
  font-size: 21px;
  font-weight: 500px;
  color: black;
  padding-top: 17px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.caret
{
  float: right;
  margin-right: 10px;
  height: 20px;
}
.dropdown-menu
{
  width: 290px;
}
.formInput
{
  margin-bottom: 20px;
  background-color: beige;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group 
{
  margin-left: 4px;
}
.result
{
  margin-left: 35px;
  margin-top:72px;
  font-size: 20px;
  margin-bottom: 305px;
}
.nav-tabs li.active a, .nav-tabs li.active a:focus, .nav-tabs li.active a:hover
{
  background-color: beige;
}

.nav li a:focus, .nav li a:hover
{
  background-color: beige;
}
.css-form input.ng-invalid.ng-touched
{
  background-color:red;
}
.css-form input.ng-valid.ng-touched
{
  background-color:white;
}
.nav-tabs.nav-justified>li>a
{
  border-color:transparent;
}
#formdisplay
{       
  height: 423px;
  width: 600px;
  margin-left: 175px;
  padding-top: 40px;
  padding-left: 102px;
  line-height: 2;
  font-size: 30px;
}
    
