<div class="row">
	<div id="top">
		<p style="font-size:23px;font-family:ArialBlack;font-stretch:ultra-expanded;color: white">Lorem Ipsum Dolor Sit Amet</p>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer mi. Vivamus sit amet neque vitae sapien bibendum sodales. Curabitur elementum. Duis imperdiet. Donec eleifend porttitor sapien. Praesent leo. Quisque auctor velit sed tellus. Suspendisse potenti.</p>
		<p><img src="Image/img1.png" style="float: right;height:72px">Aenean laoreet imperdiet nunc. Donec commodo suscipit dolor. Aenean nibh. Sed id odio. Aliquam lobortis risus ut felis. Sed vehicula pellentesque quam
		</p>
	</div>
	<a href="" id="menu"  ng-click="show('menu')">Menu</a>
	<a href="" id="test" ng-click="shw('test')">Testmonials</a>
  	<div id="bottom">
		<div ng-include="append">
		</div>
	</div>
</div>