<p id="testa">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer mi. Vivamus sit amet 									neque vitae sapien bibendum sodales. Curabitur elementum. Duis imperdiet. Donec eleifend 								porttitor sapien. Praesent leo. Quisque auctor velit sed tellus. Suspendisse potenti. 									Aenean laoreet imperdiet nunc. Donec commodo suscipit dolor. Aenean nibh. Sed id odio
</p>
<ul id="testb">
	<li>
		<img src="Image/bullet.png"><span>Quisque auctor velit sed tellus</span>
	</li>
	<li>
		<img src="Image/bullet.png"><span>Aenean laoreet imperdiet nunc</span>
	</li>
	<li>
		<img src="Image/bullet.png"><span>Donec eleifend porttitor sapien</span>
	</li>
	<li>
		<img src="Image/bullet.png"><span>Lorem ipsum dolor sit amet</span>
	</li>
</ul>
<img src="Image/img2.jpg" id="testimg">
