#photo
{
background-image: url("../Image/photo11.jpg"); */
    
    
    /* border: 1px solid red; */
    background-repeat: no-repeat;
    float: left;
    display: inline-block;
    margin-left: 30px;
    margin-top:3px;
    height:366px;
    width:410px;
    transform: rotate(270deg);
    
}
#logo
{
	height:310px;
	width:414px;
	/*border:1px solid black;*/
	margin-left:131px;

	margin-top:30px;/*17*/
	float: left;
	display: inline-block;
}
#navTabs
{
	height: 53px;
    width:860px;
    /* border: 1px solid black; */
    float:right;
    /* margin-top: 164px; */
    margin-right:401px;
    padding-top: 2px;
    margin-top:173px;
    /* padding-left: 0px;*/
    display: inline-block;
}
#navTabs a
{
	margin-left:23px;
	font-size:24px;
	font-weight: bold;
}
#outerCircle
{
	border-radius: 76%;
    height: 301px;
    width: 340px;
    border: 7px solid #E55B3C;
}
#innerCircle
{
	border-radius: 50%;
    height: 256px;
    width: 294px;
    border: 1px solid black;
    margin-left: 16px;
    margin-top: 16px;
    background-color: #151B8D;
}
#innerCircle span
{
	transform:scale(2,2);
	-webkit-transform: scale(2,2);
    display: inline-block;
    margin-top: 50px;
    margin-left: 74px;
    color: white;
    font-size: 76px;
    font-family: Berlin Sans FB;
    font-weight:450;
}
#innerCircle p
{	
	transform:scale(2,2);
	-webkit-transform: scale(2,2);
	color: #FDD017;
	font-size:28px;
	margin-left:126px;
	font-family: Calibri Light;
	margin-top: 10px;
}
#carousel
{
	background-color: transparent;
	width:1000px;
	margin-left:457px;
	margin-top:33px;
	height: 400px;
}
#slideImages
{
	width: 1000px;
	height: 400px;
      transform: rotate(90deg);
}
#about
{
	margin-left:230px;
	margin-right:172px;
	/*border:solid 2px #E55B3C;*/
	/*background-color:#DCDCDC;*/ 
	font-size: 20px;
	color:#151B54;
	text-align: justify;
	/*margin-top:125px;*/
}
#sale
{
	margin-left: 20px;
	text-align: center;
	padding-top: 50px;
}
#content
{
	height:100%;
	padding-top: 400px;

}

