<ul id="testb" style="margin-top:20px;margin-left: 50px">
		<li><img src="Image/bullet.png"><span>Quisque auctor velit sed tellus</span></li>
		<li><img src="Image/bullet.png"><span>Aenean laoreet imperdiet nunc</span></li>
		<li><img src="Image/bullet.png"><span>Donec eleifend porttitor sapien</span></li>
		<li><img src="Image/bullet.png"><span>Lorem ipsum dolor sit amet</span></li>
		<li><img src="Image/bullet.png"><span>Aenean laoreet imperdiet nunc</span></li>
		<li><img src="Image/bullet.png"><span>Donec eleifend porttitor sapien</span></li>
		<li><img src="Image/bullet.png"><span>Aenean laoreet imperdiet nunc</span></li>
</ul>