<section id="inner-headline">
    <div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Contact Us</h2>
			</div>
		</div>
	</div>
</section>
<section id="content">
    <div class="container">
	   <div class="row">
	       <div class="col-md-6">
               <p class="contactText">Any type of query feel free to write us.</p>
                            <!--  form -->
<form id="contact-form" name="contactform" role="form"class="form-full-width contact-form" method="post"ng-submit="submitForm()" action="contact-form.php" novalidate>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" ng-class="{ 'has-error': contactform.name.$invalid && submitted }">
                <input class="form-control" placeholder="Your Name*" type="text" id="name" name="name"
                     ng-model="formData.name" required/>
                
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" ng-class="{ 'has-error' : contactform.email.$invalid && submitted }">
                <input class="form-control" placeholder="Your Email*" type="email" id="email" name="email" required
                    ng-model="formData.email"/>
                
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input class="form-control" placeholder="Home Address" id="phone" name="phone"type="text" ng-model="formData.phone"
                    required data-validate="^[ا-ی\w\s]{10,15}$" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input class="form-control" placeholder="Subject*" type="text"id="subject" name="subject" ng-model="formData.subject" required />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <textarea class="form-control" placeholder="Your Message*" id="message" name="message"ng-model="formData.message"required
                    data-validate=".{2,400}$"></textarea>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 text-left">
            <div class="wrap-main">
                <button type="submit" id="submit" class="btn btn-main btn-primary btn-sm uppercase"ng-disabled="submitButtonDisabled">
                    <span>Send Message</span></button>
            </div>
        </div>
    </div>
    <!--  form -->
</form>
               <p ng-class="result" style="padding: 15px; margin: 0;">{{ resultMessage }}</p>

                </div>

</div>                                      
	<div class="col-md-6">
        <br>
    <iframe class="col-xs-12 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2841.974320698626!2d-93.30454558458194!3d45.094425166061754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b3307111ff0b39%3A0x95adc0bd36b28788!2sBrookdale+Dr%2C+Brooklyn+Park%2C+MN+55444%2C+USA!5e1!3m2!1sen!2sin!4v1471677135883" width="400" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
	<br><br><div>
        <address style="margin-left:12px">
            <strong >Authentic International Group of Companies</strong><br>
            2957 Brookdale Dr. Brooklyn Park, MN 54444
            </address>
        <p class="contactText">
            <i class="icon-phone"></i> +1 877-872-7006<br />
            <i class="icon-envelope-alt"></i> service.us@aigc-techsolutions.com
        </p>
    </div>
    </div>
	</div>
	</div>
 
	</section>