                                        <!--Top Carousel-->
<div id="carouselHacked" class="carousel slide carousel-fade"data-interval="2000" data-ride="carousel">
<!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="Images/slides/1.jpg" alt=""/>
        </div>
        <div class="item">
            <img src="Images/slides/2.jpg" alt=""/>
        </div>
        <div class="item">
            <img src="Images/slides/3.jpg" alt=""/>
        </div>
        <div class="item">
            <img src="Images/slides/4.jpg" alt=""/>
        </div>
    </div>
</div>
                                        <!--End of Top Carousel-->
<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="aligncenter"><h1 class="aligncenter"><b>What We Offer</b></h1>
                    <p class="text-center">We specialize in computer network solutions, utilizing technologies such as Microsoft Windows Server, Dell PC's and Server Hardware, Symantec Antivirus and Internet Security, Level Platforms Management and Network Services. AIGC Inc uses state-of-the-art hardware and software components to create computer networks which are flexible. </p>
                </div>
			</div>
		</div>
	</div>
	</section>
        <section class="aboutUs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="aligncenter"><h2 class="aligncenter"><b>What We Offer</b></h2>
                    <p class="text-center">With the services, we provide IT consultancy through outbound and inbound calls, and assign our Help Desktop Support Technician directly with your company or business. </p>
                </div>
				<br/>
			</div>
		</div>
	</div>
	</section>
        <section class="testimonial-area">
        <div class="container">
		<div class="row">
			<div class="col-md-12">
        <div class="aligncenter">
        <br />
        <h2 class="aligncenter"><b>Our Customers Expectation</b></h2>
        <p class="text-center">Our customer don't care how much expertise we have until they know how much we care..</p>
        </div>
        </div>
        </div>

        <div class="testimonial-solid">
            <div class="container">
                <div class="testi-icon-area">
                    <div class="quote">
                        <i class="fa fa-microphone"></i>
                    </div>
                </div>
                <div id="carousel-example-generic" class="carousel slide" data-interval="2000" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active">
                            <a href="#"></a>
                        </li>
                        <li data-target="#carousel-example-generic" data-slide-to="1" class="">
                            <a href="#"></a>
                        </li>
                        <li data-target="#carousel-example-generic" data-slide-to="2" class="">
                            <a href="#"></a>
                        </li>
                        
                    </ol>
                    <div class="carousel-inner"id="inner">
                        <div class="item active">                        
                        <img src="Images/customers/1.png" />
                        <img src="Images/customers/2.png" />
                        <img src="Images/customers/3.png" />
                        <img src="Images/customers/4.png" />
                        <img src="Images/customers/5.png" />
                        </div>
                        <div class="item">
                        <img src="Images/customers/6.png" />
                        <img src="Images/customers/7.png" />
                        <img src="Images/customers/8.png" />
                        <img src="Images/customers/9.png" />
                        <img src="Images/customers/10.png" />
                        </div>
                        <div class="item">                        
                        <img src="Images/customers/11.png" />
                        <img src="Images/customers/12.png" />
                        <img src="Images/customers/13.png" />
                        <img src="Images/customers/14.png" />
                        <img src="Images/customers/15.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
    </section>