<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Network Design & Infrastructure</h2>
			</div>
		</div>
	</div>
	</section>
        <section id="content">
	<div class="container">
					
					<div class="about">
					<div class="row">
							<div class="col-md-12">
                                <div class="entry-content">
                                    <p class="visible-lg" ><img src="Images/service3.jpg" style="width:1126px;height:463px"></p>
                                    <br>
		                        <p>We specialize in computer network solutions, utilizing technologies such as Microsoft Windows Server, Dell PC's and Server Hardware, Symantec Antivirus and Internet Security, Level Platforms Management and Network Services. AIGC Inc uses state-of-the-art hardware and software components to create computer networks which are flexible and effective in addressing today's diverse.</p>
                                <p><b>Our Micro Computer &amp; Networking</b><br>
                                We are in the Information Age. This is also the Communication Age... So why not keep up to date and take advantage of our full range of products, including computer hardware, software &amp; peripherals&mdash;all supplied at competitive prices to suit your budget!</p>
                                <p><b>LAN &amp; WAN Network</b><br>
                                You may also find that you need to be able to share information more quickly and easily with your colleagues without having to leave your desk or work area. We will design and install a custom-made Local Area Network (LAN) or Wide  Area Network (WAN), according to your needs and you are sure to enjoy the difference.</p>
                                <p><b>Wireless Network Solutions</b><br>
                                Nowadays, technology has reached the stage where you no longer need meters of cabling and wires to communicate with other computers. The wireless revolution means that you too can benefit from wireless and V-Sat solution. Ask, Our help desk team for details.</p>
			                    </div>
                            </div>
						</div>
					</div>
				</div>
	</section>