<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">IT Technical Support</h2>
			</div>
		</div>
	</div>
	</section>
        <section id="content" >
	<div class="container">
					
					<div class="about">
					<div class="row">
							<div class="col-md-12">
                                <div class="entry-content">
<!--                                    <p class="visible-lg" ><img src="Images/service2.jpg"></p>-->
		                        <p>Bring-In &ndash;  Bring your Computer on site , and we service  it.<br>
                                Pick up &mdash; We collect your computer , service and then returned  it.<br>
                                At &ndash; Home/Workplace&mdash; We will come to your home, service as to your  request and diagnoses . </p>
                                <p><b>We can also carry on  Computer Repair and Maintenance Services:</b><br>
                                Have you realized that your Computer runs slowly or do you come across software problems, errors or blinking crashes? You should expect a computer to run better only if it gets regular technical maintenance.&nbsp; Some people wait until their computer fails before taking such a task, AIGC Tech PC Health Check &amp; Optimization service helps prevent and fix computer problems.</p>
                                <p><b>Our IT Support Technicians can clean up your computer, delete needless files, update existing software and remove unwanted programs to keep your computer in good working condition. This service includes:</b><br>
                                Full system services Diagnose<br>
                                Virus Scan<br>
                                System cleaning<br>
                                Computer Reset/Restore<br>
                                Data Transfer and Media Recovery</p>
                                <p><b>Hardware Services:</b><br>
                                Laptop Keyboard, Screen, and power  Jack Repair<br>
                                Computer Crashing/Freezing &nbsp;<br>
                                Printer Troubleshooting.</p>
                                <p><b>Software Installation services:</b><br>
                                MS Office, Windows OS, Linux OS Installations<br>
                                MAC Installations,<br>
                                Free Software.</p>
                                <p>With the services, we offer IT consultancy through outbound and inbound calls, and assign our  Help Desktop Support Technician directly with your company or business. </p>
			                </div>
                            </div>
						</div>
					</div>
				</div>
	</section>