<section id="inner-headline">
    <div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Who We Are</h2>
			</div>
		</div>
	</div>
</section>
<section id="content">
	<div class="container">
        <div class="about">
            <div class="row">
				<div class="col-md-12">
                    <div class="entry-content">
                        <p class="visible-lg" ><img src="Images/who.png"></p>
                        <br>
                        <br>
                        <p>AIGC originated from the wisdom of its registered owner/Chief Executive Officer (Mr. Chester T. Neese) and the entity growing as a private Limited Liability Company. AIGC Inc is an entrepreneurial business with partnership agreements. We are presently based in the Minnesota, United States of America and we are Technology focus.&nbsp; AIGIC is into Networking, Networking Security and Computer Solutions as a newly established business with a group of certified young brains of professionals.</p>
                        <p>We also provide website services and sell accessories (hardware and software). With our services feature, we can successfully handle several prestigious assignments because customer service is our first and most important concern. Our customer base includes individuals, small and medium size businesses in Minnesota. With growth rate we are experiencing, we will to expand into providing services aim at reducing technology operating cost and creating an environment where increased productivity is experienced.</p>
                        <p>&nbsp;</p>
                        <h4><strong>Professional Services:</strong></h4>
                        <p>Whether we setting up a facilities management program, daily pick-up service, one on one support, or ordering on line, we are always looking for the best way to customize a service program to fit your company's needs. Our management style is a hand on approach. You will see the winner management and the support team executing all of your work orders. No subcontracting. No third parties. We take full responsibility as young driven team with high technological minds.</p>
                        <p>&nbsp;</p>
                        <h4><strong>Our Vision:</strong></h4>
                        <p>As a well-organized company, our vision is in developing continual progressive partnership through service delivery to all producers and consumers. As a youth driven entity, we will harness our effort toward societal growth through standard technology services.</p>
                        <p><strong>&nbsp;</strong></p>
                        <h4><strong>Our Values:</strong> <span style="color: #000000;">Leadership, Quality, Integrity and Diversity</span></h4>
                        <p>As a growing company with young generational techs, these Values serves as the framework for our Roadmap and guides to every aspect of our business by describing what we need to accomplish in order to continue achieving sustainable, quality growth. These are the values we up hold and continue to make us different from other businesses.</p>
                        <p><strong>&nbsp;</strong></p>
			         </div>
                </div>
            </div>
        </div>
    </div>
</section>